<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QHTrade.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2A214FD1EDEA9E900B19A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2A215161EDEA9E900B19A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2A215211EDEA9E900B19A4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
